$row-height: 3em;
$row-height-mobile: 7em;

$id-column: 3%;
$title-column: 42%;
$assignee-column: 20%;
$status-column: 15%;
$actions-column: 20%;

$id-column-mobile: 3%;
$title-column-mobile: 20%;
$assignee-column-mobile: 15%;
$status-column-mobile: 42%;
$actions-column-mobile: 20%;

$button-height: 2em;
$button-width: 6em;

$button-height-mobile: 1.4em;
